{% extends "base.html" %}

{% block content %}
<section>
    <div class="row">
        <div class="col-4">
            <p>Filtre :</p> 
            <form action="" method="get">
                {{ myFilter.form }}
                <input type="submit" class="btn btn-primary" value="Rechercher">
            </form>
        </div>
    </div>
</section>
  <section>
    <div class="row d-flex justify-content-center my-5">
        {% for article in page_actuel %}
            {% include "blog/article_card.html" %}
        {% endfor %}
    </div>
    {% include "blog/pagination.html" %}

</section>
{% endblock content %}